*{
  font-family: 'Montserrat', sans-serif;
font-family: 'Roboto', sans-serif;
font-family: 'Tajawal', sans-serif;
font-size: 20px;
}


.container-fluid1 {
    height: 450px;
    width: 100%;
    background-image: url(../images/p.webp);
    background-size: cover;
    background-attachment: fixed;
}

.container-fluid2 {
  height: 450px;
  width: 100%;
  background-image: url(../images/ayhagajpg.jpg);
  background-size: cover;
  background-attachment: fixed;
}



.column-bg {
    background-size: cover;
    color: white;
    height: 400px;
  }
  
  .column-1 {
    background-image: url('../images/g.webp');
  }
  
  .column-2 {
    background-image: url('../images/a.webp');
  }
  
  .column-3 {
    background-image: url('../images/b.png');
  }

  .overley{
    background-color: rgba(29, 28, 28, 0.8);
    width: 100%;
 
  }

  .column-bg:hover {
    transform: scale(0.9);
  }

  .column-bg:hover .overley{
    background-color: rgb(15, 15, 86, 0.8);
  }

  .trapezium-img {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 25% 100%);
    max-width: 100%;
    height: auto;
  }

  .trapezium-img1 {
    clip-path: polygon(0 0, 100% 0, 75% 100%, 0% 100%);
    max-width: 100%;
    height: auto;
  }


.accordion-item {
  background-color: orange;
}



.accordion-button:hover {
  background-color: darkorange; 
}

.accordion-button[aria-expanded="true"] {
  background-color: darkorange;
}

  

 .a::after {
  content: ""; 
  position: absolute; 
  top: 0;
  left: 0;
  width: 0%;
  height: 0;
  transition-duration: 1s;
  background-color: #e1b151;
  opacity: 0;
}

 .a:hover::after {
  opacity: 0.5;
  width: 100%;
  height: 100%;
}

.a::before {
  content: ""; 
  position: absolute; 
  bottom: 0;
  right: 0;
  width: 0%;
  height: 0;
  transition-duration: 1s;
  background-color: #e1b151;
  opacity: 0;
}

 .a:hover::before {
  opacity: 0.5;
  width: 100%;
  height: 100%;
}


.mx-auto {
  overflow: hidden;
  transition: transform 0.3s; /* Add a smooth transition effect for scaling */
}

.mx-auto:hover .ayhaga {
  transform: scale(1.1); /* Scale the image on hover */
}

.square {
  width: 100%; /* Make the square take up 100% width of its container */
  padding: 20px; /* Add padding for content spacing */
  text-align: center;
  color: #fff; /* Text color */
}